<div class="jumbotron jumbotron-fluid" style="background-image: url(https://az810058.vo.msecnd.net/site/global/Content/img/home-search-bg-05.jpg)">
  <div class="container">
    <h1 class="display-3"><%= current_user.name %></h1>
    <p class="lead"><%= current_user.email %></p>
  </div>
</div>


<div class="row">
  <div class="col-md-11 col-md-offset-1">
    <table class="table">
      <th>Your events</th>
      <th>Starts At</th>
      <th>Status</th>
      <% current_user.created_events.each do |event| %>
          <tr>
            <td><%= event.name %></td>
            <td><%= event.starts_at %></td>
            <td><% if  event.is_published %>
                  Published
                  <% else %>
              <%= link_to "Publish now", publish_event_path(event.id), class: "btn btn-secondary" %>
              <% end %>
                  </td>
          </tr>
      <% end %>
    </table>
  </div>
</div>
<div class="row">
  <%= link_to "Create new event", new_user_event_path(current_user.id), class: "btn btn-primary col-md-4 col-md-offset-4"%>
</div>